# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env*

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Docker
**/Dockerfile
**/docker-compose*.yml

# Coverage
htmlcov/
.coverage*
.cache
nosetests.xml
coverage.xml

# pyenv
.python-version

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Env configs
.env.local
.env.development
.env.production

# Migrations (tùy chọn, uncomment nếu muốn bỏ qua)
# **/migrations/*.py
# !**/migrations/__init__.py
