# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env  # file chứa biến môi trường

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static_root/

# Migrations (nếu bạn không muốn track migration files, tuy nhiên thường nên giữ chúng)
# ** Uncomment nếu bạn muốn bỏ git migrations **
# */migrations/*.py
# !*/migrations/__init__.py

# IDEs & editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Docker
**/Dockerfile
**/docker-compose*.yml

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# pyenv
.python-version

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/
